name: fmt
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: denoland/setup-deno@v1.1.1
        with:
          deno-version: v1.31.2
      - run: deno fmt --check
